#game-container {
	width: 400px;
	position: relative;
	margin: 0 auto;
	z-index: 3; 
}

#ball {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.obstacle {
	width: 100px;
	height: 20px;
	background-color: green;
	position: absolute;
	top: 100px;
	left: 0;
}

@keyframes animate {
  from {
    text-shadow: 0 0 20px #F155C1;
  }
  to {
    text-shadow: 0 0 30px #F155C1, 
                0 0 10px #F155C1 
  }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(clouds.png) repeat top center;
    z-index:2;
    opacity: .4;
   animation:move-clouds-back 200s linear infinite;
}
img {
  height: 12em;
  margin-left: auto;
  margin-right:auto;
  margin-top: 1em;
  transform: rotate(-33deg);
  position: relative;
  display: block;
  z-index: 3;
}

#ball, .obstacle {
  z-index: 4;
}