* {
    margin: 0;
    padding: 0;
    
}
body{
background-color: black;
}

.title, h1 {
    font-size: 6em;
    font-family: 'Lilita One';
    margin-top: 0.5em;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    letter-spacing: 8px;

    /* Stryling the text and giving it gradiant */
    color:#F77CCD;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    animation: animate 200s ease-in infinite;

    /* Make sure text is infront of background images */
    display:block;
    position: relative;
    z-index: 3;
}
@keyframes animate {
  from {
    text-shadow: 0 0 20px #F155C1;
  }
  to {
    text-shadow: 0 0 30px #F155C1, 
                0 0 10px #F155C1 
  }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(clouds.png) repeat top center;
    z-index:2;
    opacity: .4;
   animation:move-clouds-back 200s linear infinite;
}

#middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    background-color:rgba(217, 215, 215, 0.302);
    font-family: 'Lilita One';
    height: 70vh;
    width: 31vw;
    margin-top: 2em;
    /* opacity: .5; */
    margin-left: auto;
    margin-right:auto;
    border-radius: 1rem;
    position: relative;
    z-index: 3;
}

#status {
    font-size: 4rem;
    opacity: 1;
    letter-spacing: .4rem;
    padding-top: 2rem;
}

#pointsHeader {
    color: #1BC250;
    font-size: 2.2rem;
    margin-top: -3rem;
    animation: animatePoints 200s ease-in infinite
}

#points {
    color: #1BC250;
    font-size: 4rem;
    animation: animatePoints 200s ease-in infinite
}
@keyframes animatePoints {
  from {
    text-shadow: 0 0 20px#0EAA3E;
  }
  to {
    text-shadow: 0 0 30px #0EAA3E, 
                0 0 10px #0EAA3E 
  }
}



#restart {
    background-color:#F77CCD;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 2em;
    text-decoration: none;
    font-family: 'Itim';
    border: #F77CCD 0.125em solid;
    color: #eee;
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em .7em;
    height: 3.5rem;
    width: 10rem;
    border-radius: .3em ;
    text-shadow: 0 0 0.125em #F155C1, 0 0 0.25em white;
    box-shadow: inset 0 0 .5em 0 #F155C1, 0 0 .5em 0 #F155C1;
}

#restart:hover {
    background-color: black;
    color: white;
  }